<ion-view title="About">  
<ion-content style="background-color:#FDF7F6">
      <a class="item item-icon-left" href="#/tab/menucustomer">
              <i class="icon ion-arrow-left-c danger"></i>
            Back
       </a>
      <div class="card"> 
    	<h4><center>Easy Tanker App</center></h4>
    	<p class="text-center">The Easy Tanker app is Built by open source techknology</p>
    	<p class="text-center">Available for android,ios and windows Mobile</p>
    	<p class="text-center">All Right are Reserved...</p>
    	<p class="text-center" style="color:blue">Terms of Services</p>
    	<p style="float:right">Developed By : <span><a href="http://www.wmsindia.com">WMS</a></span></p>
      </div>             
 </ion-content>      
</ion-view>