<form name="myForm" ng-controller="changepassword">
      <ion-view title="forgot Password">
        <ion-content class="padding">     

        <label class="item item-input">
           <span class="input-label">New Password</span>
           <input type="password" id="password" name="password" ng-model="data.password" ng-minlength="8" 
           ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required  />    
        </label>
        
        <span class="assertive" text-align="center">
          <span ng-show="myForm.password.$error.required && myForm.password.$dirty">required</span>
           <span ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty">Passwords must 5 to 20 characters long.</span>
           <span ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength && myForm.password.$error.pattern && myForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
        </span>
        <label class="item item-input">
            <span class="input-label">Confirm New Password</span>
           <input type="password" id="password_c" name="password_c" ng-model="data.password_c" valid-password-c required  />
        </label>
        <span class="assertive">
          <span ng-show="myForm.password_c.$error.required && myForm.password_c.$dirty">Please confirm your password.</span>
          <span ng-show="!myForm.password_c.$error.required && myForm.password_c.$error.noMatch && myForm.password.$dirty">Passwords do not match.</span>
        </span>

        <button type="submit" class="button button-block button-positive" ng-disabled="!myForm.$valid"  
         ng-click="changepassword(data)">Submit </button>
     
        </ion-content>
      </ion-view>
    </form>