  <ion-view title="Forgot Password" ng-controller="forgotPass">
        <ion-content class="padding"> 

   
         <form class="list" name="forgotpassword"  novalidate>  
          <div class="card" ng-hide="showme">  
             <p class="text-center ">Enter Your Mobile Number</p>   
            <div class="list">
                        <label class="item item-input">
                          <span class="input-label">Enter Mobile  Number</span>
                          <input  type="number" placeholder="Enter Mobile number" ng-model="data.registermobile" required>
                        </label>
                      <button type="submit" class="button button-block " style="background-color:#85C1E9" 
                       ng-hide="showme" ng-click="forgotPassword(data);showme=true">Submit
                      </button>          
            </div>
         </div>
       </form> 
            <div ng-show="showme">
                  <form name="verifycode">
                    <p class="text-center">Enter verification Code to Reset Password</p>

                    <label class="item item-input">
                          <span class="input-label">Enter Verification Code</span>
                          <input type="text" ng-model="data.verification"  required>
                    </label>
                          <button type="submit" class="button button-block " style="background-color:#85C1E9" 
                            ng-click="verify(data)">Submit
                          </button>
                  </form>
             </div> 
        </ion-content>
      </ion-view>
      <style type="text/css">
        
          input[type=text] {
          height:17px;
          border: 0;
          width: calc(100% - 2px);
          margin-left:1px;
          -webkit-transition: box-shadow 0.3s;
          transition: box-shadow 0.3s;
        }
        input[type=text]:focus {
          outline: none;
          box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
        }

        input[type=number] {
          height:17px;
          border: 0;
          width: calc(100% - 2px);
          margin-left:1px;
          -webkit-transition: box-shadow 0.3s;
          transition: box-shadow 0.3s;
        }
        input[type=number]:focus {
          outline: none;
          box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
        }

      </style>

