<ion-view view-title="Easy Water Tank" ng-controller="homecontroller">
      <!--    <img src="img/suburb_launch.gif" id="backimage">  -->
        <ion-content >  
                <md-progress-linear md-mode="Buffer"></md-progress-linear>
                  
         
                  <div class="center" style="height:160px">
                   <div class = "col col-center"></div>
                  </div>

                  <div class="center">
                        <h5>Welocome To Easy Water Tank</h5>
                  </div>


                  <div class="center" style="height:30px">
                   <div class = "col col-center"></div>
                  </div>


                  <div class="center">
                         <img src="img/home.png"> 
                  </div>
     
                  <div class="col-offset-50" id="bubble">
                      <ion-spinner icon="bubbles" class="spinner-balanced" id="bubble"></ion-spinner>
                  </div>           
        </ion-content>
      </ion-view>

