calm<ion-view title="Registration">
        <ion-content class="padding">                  
        <div class="card" class="center" style="padding-top:40;padding-bottom:40;">    
          <div class="row">
           <div class="col text-center">
             <a class="button icon-left ion-person button-calm" href="#/tab/user_regi">User Registration &nbsp&nbsp;</a>         
            </button>
           </div>
          </div>

           <div class="row">
             <div class="col text-center">
              <a class="button icon-left ion-person button-calm" href="#/tab/driver_regi"> Driver Registration</a>   
             </div>
           </div>
          </div>
        </div>
        </ion-content>
      </ion-view>